section.chamada{
	z-index: 1;
	width: 100%;
	text-align: center;
	position: relative;
}


.icone-seta{
	position: absolute;
	left: 50%;
	top: -32px;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	width: 64px;
	height: 64px;
	background-size: 100% 100%;
	background-image: url('./imagens/arrow.png');
}

section.chamada div.container{
	background-color: #29526d;
	padding:70px 0 50px 0;
}


section.chamada h2{
	width: 98%;
	max-width: 700px;
	display: inline-block;
	color: white;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: normal;
}

section.chamada p{
	width: 98%;
	max-width: 700px;
	display: inline-block;
	color: white;
	margin-top:10px;
	font-size: 18px;
	font-weight: normal;
}